# Copyright 2023 Sony Corporation

on post-fs-data
    # Create /mnt/lta-label and mount LTALabel.
    # The LTA label is accessed/displayed by platform/vendor/semc/settings.
    mkdir /mnt/lta-label 0555 system system
    wait /dev/block/bootdevice/by-name/LTALabel
    mount ext4 /dev/block/bootdevice/by-name/LTALabel /mnt/lta-label nosuid nodev noatime noexec barrier=0
    chown system sdcard_rw /mnt/lta-label
    chmod 0755 /mnt/lta-label
    restorecon_recursive /mnt/lta-label
